{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3 style="text-align: center;">Welcome to One Min Pitch App!</h3>
    <p style="text-align: center;">Users post their one minute pitches in specific categories, and other users can vote for their favourite pitches and give feedback!</p> 
    <p style="text-align: center;">Click on any of the categories below to see the pitches posted under each!</p>



    <div class="row">
    <div class="col-md-6" style="padding: 30px;"> 
        <div class="card"> 
            <div class="class-header">
                <h3 style="text-align: center;"><a href="/category/pick-up-lines">Pick up lines</a></h3>
            </div>
            <hr>
            <div class="card-body" style="text-align: center;">
                <img class="card-img-body" src="" alt="">
                
                <div class="card-footer">
                    
                    
                    <hr>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding: 30px;"> 
        <div class="card"> 
            <div class="class-header">
                <h3 style="text-align: center;"><a href="/category/quotes">Quotes</a></h3>
            </div>
            <hr>
            <div class="card-body" style="text-align: center;">
                <img class="card-img-body" src="" alt="">
                
                <div class="card-footer">
                    
                    
                    <hr>
                </div>
                
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding: 30px;"> 
            <div class="card"> 
                <div class="class-header">
                    <h3 style="text-align: center;"><a href="/category/dry-jokes">Dry jokes</a></h3>
                </div>
                <hr>
                <div class="card-body" style="text-align: center;">
                    <img class="card-img-body" src="" alt="">
                    
                    <div class="card-footer">
                        
                        
                        <hr>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding: 30px;"> 
            <div class="card"> 
                <div class="class-header">
                    <h3 style="text-align: center;"><a href="/category/product-pitch">Product pitch</a></h3>
                </div>
                <hr>
                <div class="card-body" style="text-align: center;">
                    <img class="card-img-body" src="" alt="">
                    
                    <div class="card-footer">
                        
                        
                        <hr>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding: 30px;"> 
            <div class="card"> 
                <div class="class-header">
                    <h3 style="text-align: center;"><a href="/category/movie-pitch">Movie pitch</a></h3>
                </div>
                <hr>
                <div class="card-body" style="text-align: center;">
                    <img class="card-img-body" src="" alt="">
                    
                    <div class="card-footer">
                        
                        
                        <hr>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding: 30px;"> 
            <div class="card"> 
                <div class="class-header">
                    <h3 style="text-align: center;"><a href="/category/book-pitch">Book pitch</a></h3>
                </div>
                <hr>
                <div class="card-body" style="text-align: center;">
                    <img class="card-img-body" src="" alt="">
                    
                    <div class="card-footer">
                        
                        
                        <hr>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}